body{
  margin:0;
  background: no-repeat fixed url(img/main.jpg);
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper{
  width: 100%;
  margin: auto;
}
.header{
  display: flex;
  justify-content: space-between;
  /*padding: 87px 0 40px 200px;*/
  padding-top: 87px;
  padding-bottom: 40px;
}
.logo{
  padding-left: 200px;
}
.menu{
  padding-right: 110px;
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 39px;
  margin-top: 2px;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
  color: #f8eee4;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
.menu__item:last-child{
  margin-right: 5px;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity.5s, width .5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
#menu__toggle {
  display: none;
}
.main {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.section {
  padding-left: 195px;
  display: inline-block;
}
.section__title{
  border-top: 1px solid transparent;
  margin: 95px 0 36px 0;
  color: #F8EEE4;
  font: 700 285px/371px pt_serifbold, arial, helvetica, sans-serif;
  opacity: 40%;
  margin-bottom: -224px;
}
.section__text{
  margin-left: 90px;
  margin-bottom: 14px;
  color: #f8eee4;
  font: 700 98px/130px pt_serifbold, arial, helvetica, sans-serif;
}
.section__subtitle{
  padding-top: 5px;
  margin-top: 8px;
  width: 542px;
  margin-left: 25px;
  color: #f8eee4;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
}
.section__button {
  margin-top: 13px;
  text-align: center;
  display: inline-block;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
  color: #f8eee4;
  background: #d4bea3;
  cursor: pointer;
  text-decoration: none;
  border-radius: 43px;
  padding: 19px 89px 19px 89px;
  margin-left: 28px;
  transition: opacity 1s;
}
.pict {
  align-items: center;
  display: flex;
  margin-top: 185px;
}
.pict__gallery {
  height: 380px;
  width: 284px;
  margin-right: 32px;
  border-radius: 5px;
}
.pict__gallery_big {
  height: 422px;
  width: 320px;
  margin-left: 278px;
  margin-right: 32px;
  border-radius: 5px;
}
.pict__gallery:last-child {
  margin-right: 0px;
  height: 385px;
  width: 208px;
  border-radius: 5px;
}

@media(max-width: 1700px){
.pict__gallery_big {
  margin-left: 100px;
}
}

@media(max-width: 1366px){
.header {
  padding: 62px 0 0px 142px;
}
.logo {
  padding-left: 0px;
  width: 104px;
  height: 39px;
}
.menu {
  padding-right: 77px;
}
.menu__item {
  margin-right: 26px;
  font-size: 16px;
  line-height: 19px;
}
/*.menu__item:last-child {
  margin-right: 7px;
}*/
.main {
  margin-top: 0;
  margin-left: 0;
}
.section {
  padding-left: 140px;
}
.section__title {
  /*margin-top: 57px;
  margin-bottom: -163px;*/
  font-size: 200px;
  line-height: 265px;
}
.section__text {
  margin-top: 120px;
  margin-left: 59px;
  font-size: 70px;
  line-height: 93px;
}
.section__subtitle {
 margin-top: -5px;
  max-width: 399px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 19px;
}
.section__button {
  margin-top: 9px;
  min-width: 182px;
  padding: 13px;
  margin-left: 19px;
  font-size: 16px;
  line-height: 19px;
}
.pict {
  /*margin-top: -316px;*/
  margin-left: 90px;
  margin-bottom: -80px;
  margin-top: 80px;
}
.pict__gallery {
  margin-right: 24px;
  width: 202px;
  height: 270px;
}
.pict__gallery_big {
 /* margin-left: 452px;*/
  margin-right: 26px;
  width: 225px;
  height: 300px;
}
.pict__gallery:last-child {
  width: 146px;
  height: 270px;
}
}
@media(max-width: 1200px){
/*.menu__item:last-child {
  margin-right: -150px;
}*/
.pict {
  /*margin-top: -316px;*/
  margin-left: 0px;
}
}
@media (max-width: 1024px) {
.header {
  padding-left: 41px;
}
.menu {
  margin-top: 9px;
  padding-right: 30px;
} 
.menu__item:last-child {
  margin-right: 7px;
}
.section {
  padding-left: 40px;
}
.section__button {
  margin-top: 10px;
}
.pict {
  margin-left: -45px;
}
.pict__gallery_big {
  margin-right: 24px;
}

.pict__gallery:last-child {
    width: 40px;
  }
}

@media (max-width: 975px) {
/*.section{
  padding-left: 20px;
}*/
.pict__gallery_big{
 /* margin-left: 380px;*/
  margin-right: 10px;
}
.pict__gallery {
  margin-right: 10px;
}
}
@media (max-width: 920px){
.section__title{
  /*margin-top: -2px;
  margin-bottom: -147px;*/
  font-size: 160px;
}
.section__text{
  /*margin-left: 59px;*/
  font-size: 50px;
  line-height: 79px;
}
.section__subtitle {
  max-width: 300px;
  /*margin-left: 27px;*/
  font-size: 15px;
  text-align: center;
  line-height: 22px;
}
.section__button {
  margin-left: 62px;
}
/*.pict__gallery_big{
  margin-left: 300px;
}*/
}
@media (max-width: 890px){
.pict__gallery:last-child{
  display: none;
}
}
@media (max-width: 850px){
.section{
  padding-left: 10px;
}

.pict__gallery {
width: 195px;
  height: 255px;
}
.pict__gallery_big {
  width: 205px;
  height: 280px;
}
.pict__gallery:last-child {
  width: 126px;
  height: 250px;
}
}
@media (max-width: 800px){
.pict__gallery:last-child {
  height: 230px;
  width: 105px;
}
.pict__gallery {
  width: 185px;
  height: 245px;
}
.pict__gallery_big {
  width: 195px;
  height: 270px;
}
}

@media (max-width: 760px){
.pict{
  display: none;
}
.main{
  text-align: center;
}
.section{
  padding-left: 0px;
}
.section__title{
  margin-top: -2px;
  /*margin-bottom: -147px;*/
  font-size: 170px;
}
.section__text{
  margin-left: 59px;
  font-size: 60px;
  line-height: 79px;
}
.section__subtitle {
  margin-top: 33px;
  max-width: 290px;
  margin-left: 27px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
}
.section__button {
  margin-top: 17px;
  margin-left: 0px;
}
}
@media (max-width: 590px){
.menu{
  display: none;
}
.header{
  padding-top: 42px;
}
.main{
  margin-top: 40px;
}
.section__title{
  margin-top: -2px;
  /*margin-bottom: -147px;*/
  font-size: 170px;
}
.section__text{
  margin-left: 59px;
  font-size: 60px;
  line-height: 79px;
}
.section__subtitle {
  margin-top: 33px;
  max-width: 290px;
  margin-left: 27px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
}
.section__button {
  margin-top: 17px;
/*  margin-left: 62px;*/
}
.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 172px 0;
  background: #fff;
  list-style: none;
  text-align: center;
  transition-duration: .8s;
  z-index: 1;
}
.menu__item {
  margin-right: 0;
  text-transform: lowercase;
  display: block;
  padding: 11px 0;
  color: #333;
  font-family: Museo Sans Cyrl900, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  transition-duration: 1s;
}
.menu__item:last-child {
  margin-right: -2px;
}
.menu__item:hover {
  opacity: 1;
  color: #D4BEA3;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 52px;
  right: 55px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fcf5ed;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  top: -12px;
  right: -8px;
  transform: rotate(45deg);
  background: black;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  right: 0;
  transform: rotate(0);
  background: black;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  right: 0;
  transform: rotate(90deg);
  background: black;
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}
}
@media (max-width: 470px){
.menu__btn{
  right: 32px;
  }
.section{
  padding-left: 60px;
}
}
@media (max-width: 375px){
.section{
  padding-left: 0px;
}
.section__title{
  margin-left: -26px;
  margin-bottom: none;
}
.section__text{
  margin-top: 125px;
}
.section__button {
margin-left: -13px;
}
}
